@use "./variables" as *;
.App
{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100vh;
    width: 100vw;
    padding-top: 2em;
    background-color: $main-color;
    color: $third-color;
}