@use "./variables" as *;

.new-todo
{
    background-color: $main-color;
    padding: 1rem;

    &__input
    {
        background-color: $secondary-color;
        border: none;
        padding: 1em;
        width: 20em;
        height: 2em;
        border: 1px solid $third-color;

        border-radius: 1em 0 0 1em;
    }
    &__button-arrow
    {
        //display arrow

        height: 4em;
        width: 4em;
        background-color: $secondary-color;
        border-radius: 0 1em 1em 0;
        border: 1px solid $third-color;
        color: $third-color;
        
        &:hover
        {
            background-color: $third-color;
            color: $main-color;
        }

    }
}