@use "./variables" as *;

.todo
{
    background-color: $main-color;

    &__list
    {
        display: flex;
        flex-direction: column;
        background-color: $secondary-color;
        border-radius: 1em;
        min-width: 20em;

        &__item
        {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem;
            &__checkbox:checked + &__text
            {
                text-decoration: line-through;
            }
            &__text
            {
                color: $third-color;
                font-size: 1.5rem;
            }
            
        }
    }
}